.App {
  max-width: 960px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
  margin: 12px;
}

nav {
  margin-bottom: 24px;
  text-align: center;
  padding: 24px;
}

nav a {
  text-decoration: none;
  color: green !important;
  font-size: 16px;
  border: 1px solid green;
  padding: 4px 12px;
  border-radius: 12px;
  display: inline-block;
  margin: 4px !important;
}

nav a:hover,
nav .active {
  color: #fff !important;
  background: green;
}

.not-found {
  font-size: 74px;
  font-weight: 800;
  color: #bf6969;
  text-align: center;
  margin: 24px;
}

.home-container {
  text-align: center;
}

.centered {
  text-align: center;
}
